fastapi
uvicorn
pydantic
python-dotenv
requests
Pillow
unstructured
pymongo[srv]
extract-msg
spacy
dateparser
python-multipart


# LangChain & Embeddings
langchain
langchain-openai
langchain_unstructured
langchain-community
langchain_unstructured
google-generativeai
# AutoGen
autogen-agentchat
autogen-core
autogen-ext

# Vectorstore (assumed usage: FAISS, Chroma, or similar)
faiss-cpu        # or faiss-gpu if using CUDA
chromadb         # optional if using Chroma vector store

# Async + Misc
httpx
tqdm
openai

#Additional Download - MUST
#python -m spacy download en_core_web_sm